container_commands:
  compile:
    command: |
      pwd
      echo "start install and compile and start"
      sudo npm install -g yarn@1.22
      $(npm root -g)/yarn/bin/yarn.js install
      $(npm root -g)/yarn/bin/yarn.js compile
      $(npm root -g)/yarn/bin/yarn.js start
      echo "status: $?"
